<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.cvut.panskpe1.rssfeeder">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.RSSFeeder">

        <activity
            android:name=".activity.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.article.ArticleDetailActivity"
            android:label="@string/article_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.cvut.panskpe1.rssfeeder.activity.main.MainActivity" />
        </activity>

        <activity
            android:name=".activity.feed.FeedActivity"
            android:label="@string/feeds_list">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.cvut.panskpe1.rssfeeder.activity.main.MainActivity" />
        </activity>

        <provider
            android:name=".data.ContentProvider"
            android:authorities="cz.cvut.panskpe1.rssfeeder"
            android:exported="false" />
        <service
            android:name=".service.DownloadService"
            android:enabled="true" />

        <receiver android:name=".service.ScheduleBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="cz.cvut.panskpe1.rssfeeder.service.SCHEDULE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.AlarmBroadcastReceiver">
            <intent-filter>
                <action android:name="cz.cvut.panskpe1.rssfeeder.service.RUN" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
